<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
    <div class="restaurant">
      <hr/>
      <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
      <p><%= restaurant.category %></p>
    </div>
    <% end %>
  </div>
</div>
